<div id="right-sidebar">
    <div class="sidebar-container">
        <ul class="nav nav-tabs navs-3">
            <li class="active">
                <a data-toggle="tab" href="#tab-1">
                    <i class="fa fa-gear"></i> 主题
                </a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#tab-2">通知</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-3">项目进度</a>
            </li>
        </ul>
        <div class="tab-content">
            {include file="right/theme"}
            {include file="right/notice"}
            {include file="right/degree"}
        </div>
    </div>
</div>